.body {
  align-items: center;
  justify-content: center;
  background: url(/blurry-gradient-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

#header {
}

#backcontainer {
  justify-content: center;
  align-items: center;
  display: flex;
}

#backbutton {
  align-items: center;
  text-decoration: none;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  line-height: 5px;
  color: white;
  background-color: salmon;
  outline: solid whitesmoke;
  padding: 12px 25px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px rgb(235, 145, 135);
  margin-bottom: 15px;
}

#choosecontainer {
  justify-content: center;
  align-items: center;
}

#backbutton:hover {
  background-color: rgb(255, 106, 89);
}

#backbutton:active {
  background-color: rgb(151, 28, 15);
  box-shadow: 0 0px;
  transform: translateY(3px);
}

#choose {
  color: white;
  font-family: "Lucida Sans", sans-serif;
  text-align: center;
  position: relative;
  padding-top: 9px;
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 50px;
}

.buttonletters {
  height: 0;
  width: 0;
  cursor: pointer;
  border-left: 100px solid salmon;
  border-right: 100px solid salmon;
  border-top: 60px solid white;
  border-bottom: 60px solid salmon;
  background-color: transparent;
  display: block;
  outline: #ef9bc4 solid;
  display: inline-block;
  text-decoration: none;
}

.buttonletters::after{
  content:'\2665';
  color: red;
}

.buttonletters:active {
  background-color: red;
  transform: translateY(10px) scale(0.9);
}

#containerflex1 {
  display: flex;
  justify-content: center;
}

#containerflex12 {
  display: flex;
  justify-content: center;
}

#containerflex2 {
  display: flex;
  justify-content: center;
}

#containerflex3 {
  display: flex;
  justify-content: center;
}

#containerflex4 {
  display: flex;
  justify-content: center;
}

.wordletter {
  text-align: center;
  font-family: "Lucida Sans", sans-serif;
  font-size: 20px;
  color: white;
}

#container1 {
  padding-bottom: 45px;
}

#container2 {
  padding-bottom: 45px;
}

#container3 {
  padding-bottom: 45px;
}

#container4 {
  padding-bottom: 45px;
}

#footer {
  position: relative;
  display: block;
}

#trademarkcontainer{
  display: flex;
  justify-content: center;
}

#trademark{
  justify-content: centers;
  text-align: center;
  position: relative;
  display: flex;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: "Lucida Sans", sans-serif;
  font-weight: bold;
}

#trademarkcontainer2{
  display: flex;
  justify-content: center;
}

#trademark2{
  justify-content: centers;
  text-align: center;
  position: relative;
  display: flex;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: "Lucida Sans", sans-serif;
  font-weight: bold;
}

#trademarkcontainer3{
  display: flex;
  justify-content: center;
}

#trademark3{
  justify-content: centers;
  text-align: center;
  position: relative;
  display: flex;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Sans", sans-serif;
}

