.body{
  background-image: url(/lettermodel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: local;
}

#papercontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

#paper{
  background-color: whitesmoke;
  margin-top: 150px;
  height: 150px;
  width: 400px;
  outline: black solid;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family::Verdana, Geneva, Tahoma, sans-serif;
  font-weight: light;
}

#containerbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#backbutton{
  align-items: center;
text-decoration: none;
font-family: "Trebuchet MS", sans-serif;
font-weight: bold;
line-height: 5px;
color: white;
background-color: salmon;
outline: solid whitesmoke;
padding: 12px 25px;
font-size: 20px;
cursor: pointer;
border: none;
border-radius: 15px;
box-shadow: 0 6px rgb(235, 145, 135);
margin-bottom: 15px;
}